<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>   <!--没错，就是加入这句，后面的${}的变量名才能用-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.doudou.pojo"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="tk.mybatis.mapper.mapperhelper.MapperInterceptor">
            <!--主键自增回写方法,默认值MYSQL,详细说明请看文档HSQLDB-->
            <property name="IDENTITY" value="MYSQL"/>
            <!--可选参数一共3个，对应0,1,2,分别为SequenceName，ColumnName,PropertyName-->
            <property name="seqFormat" value="{0}.nextval"/>
            <!--通用Mapper接口，多个通用接口用逗号隔开-->
            <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>
        </plugin>
        <!-- 自定义分页插件 -->
        <!--   <plugin interceptor="wang.dreamland.www.common.PageHelper"></plugin>-->
    </plugins>

</configuration>